body {
    background: #C0C0C0;
    margin: 0;
    padding: 0;
    }
#main_wrapper {
    width: 914px;
    margin: 0 auto;
    }
.close {
    clear: both;
    }
#logomenu_wrapper {
    margin: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 914px;
    height: 45px;
    display: block;
    }
#menu {
    margin: 0;
    padding: 0;
    float: left;
    width: 582px;
    height: 50px;
    }
#menu_list {
    list-style: none;
    width: 582px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    }
#menu_list li a {
    margin-right: 20px;
    font-size: 15px;
    font-family: "Times New Roman",Times,serif;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    }
#menu_list li {
    display: inline;
    text-transform: uppercase;
    }
li {
    text-align: -webkit-match-parent;
    }
#logo {
    margin: 0;
    padding: 0;
    float: right;
    width: 332px;
    height: 50px;
    }
div {
    display: block;
    }
#logo a {
    text-decoration: none;
    color: #ecece0;
    }
#logo h1 {
    padding: 0;
    display: block;
    margin: 0;
    margin-right: 5px;
    text-align: right;
    color: #000000;
    font-size: 22px;
    font-family: "Times New Roman",Times,serif;
    font-style: normal;
    font-weight: normal;
    }
#phone {
    text-align: left;
    color: #000000;
    font-size: 28px;
    font-family: "Arial",Verdana,serif;
    font-style: normal;
    font-weight: bold;
    margin-top: -10px;
    padding-bottom: 5px;
    }
#phone a {
    color: #000000;
    text-decoration: none;
    }
#center {
    margin: 0;
    margin-top: 35px;
    background: url(/images/ ) no-repeat top center;
    width: 913px;
    height: 513px;
    }
#center_text {
    float: right;
    width: 400px;
    height: 440px;
    margin: 0;
    margin-top: 50px;
    margin-right: 65px;
    padding: 0;
    font-family: "Times New Roman",serif;
    font-style: italic;
    font-size: 19px;
    }
#blocks_wrapper {
    width: 914px;
    margin: 0;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    }
.pricelink_block {
    margin-top: -40px;
    margin-bottom: 50px;
    display: block;
    background: #708090;
    text-align: center;
    padding: 5px 5px 8px 5px;
    width: 893px;
    font-weight: bold;
    color: #eae47d;
    }
.pricelink_block h2 {
    font-size: 18px;
    line-height: 0;
    font-family: "Arial",sans-serif;
    }
.pricelink_block a {
    color: #000000;
    }
.content_block {
    float: left;
    width: 290px;
    }
.content_block_header {
    width: 290px;
    height: 100px;
    background: #708090;
    color: #fff;
    text-align: center;
    }
.content_block_header h2 {
    margin: 0;
    padding: 10px;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: "Arial",sans-serif;
    font-weight: bold;
    font-size: 15px;
    }
.content_block_header h2 a {
    color: #fff;
    text-decoration: none;
    vertical-align: sub;
    }
.content_block_content {
    width: 290px;
    height: 200px;
    background: #778899;
    }
.content_block_text {
    margin: 0;
    padding: 13px;
    color: #ecece0;
    font-family: "Arial",sans-serif;
    font-size: 15px;
    }
.vspacer {
    float: left;
    width: 17px;
    }
.address_block {
    margin: 0;
    margin-top: 10px;
    display: block;
    background: #708090;
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
    width: 893px;
    font-weight: bold;
    color: #fff;
    font-family: "Arial",sans-serif;
    font-size: 22px;
    }
#lower_content {
    padding: 10px;
    color: #000000;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    text-align: center;
    }
#footer {
    height: 170px;
    margin: 0;
    padding: 0;
    background: #708090;
    font-family: "Arial",sans-serif;
    font-size: 12px;
    color: #000000;
    }
#footer_content {
    height: 170px;
    width: 914px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    }
#footer_menu {
    width: 914px;
    margin: 0;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
#footer_menu_list {
    list-style: none;
    }
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    }
#footer_menu_list li {
    margin-right: 20px;
    display: inline;
    text-transform: uppercase;
    }
#footer_menu_list li a, #design a {
    text-decoration: none;
    color: #000000;
    }
